/*цвет основного текста #757575;*/
/*вторичный цвет текста (цвет заголовков)#212121;*/
/*белый цвет героя #FFFFFF;*/
/*акцент #2196F3;*/
/*вторичный цвет фона #F5F4FA;*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 2px solid tomato; */
}

a {
  text-decoration: none;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*
.logo{
    color: var(--accent-color);
}
.logo:hover{
    color: var(--title-text-color);
}*/

.logo {
  color: var(--title-text-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 85px;
}

.logo-accent {
  color: #2196f3;
}




 .main-nav {
  display:flex;
  align-items: center;
} 

.site-nav {
  display: flex;
}

.site-nav .item {
  /* background-color: tomato;
  outline: 2px solid black; */
  /* margin-right: 50px; */
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;

}

.site-nav .link {

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: red;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .link{
  /* display: block;
  padding-top: 32px;
  padding-bottom: 32px; */
}

.auth-nav .item {
  margin-right: 32px;
  /* background-color: tomato;
  outline: 2px solid black; */
}

.auth-nav .contact {
  color: var(--primary-text-color);
  font-weight: 500;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.auth-nav .contact:hover,
.auth-nav .contact:focus {
  color: var(--accent-color);
}

.hero {
  text-align: center;
  margin-bottom: 15px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 45;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
}
.button.primary {
  /* display: flex; */
  color: var(--primary-white-color);
  background: #2196f3;
  font-family: inherit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  /* margin-bottom: 294px; */
  min-width: 200px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/*.button.primary:hover {
    color: tomato;
}*/

.features {
  /* flex-wrap:wrap */
  display:flex;
  padding-top: 94px;
  padding-bottom: 94px;

}

.features li:not(:last-child) {
  margin-right:30px;
}

.features li {
  width: 270px;
  /* background-color: orange; */
}

.features-title {
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}
.features-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.features-box {
  /* margin-top: 0px;
  margin-bottom: 30px; */
  width: 270px;
  height: 120px;
  left: 215px;
  top: 774px;
  background: #f5f4fa;
  border-radius: 4px;
}

.function {
  
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0px;
  margin-bottom: 94 px;
}

.function .list {
  display: flex;
}

.function li:not(:last-child) {
  margin-right:30px;
}


.function-title {
  color: var(--title-text-color);
  padding-top: 0 px;
  margin-top: 0px;
  margin-bottom: 50 px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.function-subtitle {
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}

.team {
  display: flex;
  background: #f5f4fa;
}

.team li:not(:last-child) {
  margin-right:30px;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
}

.team-position {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
}

.clients .list {
  display: flex;
  justify-content: center;
}


.clients-title {
  color: var(--title-text-color);
  text-align: center;
}

.clients li:not(:last-child) {
  margin-right:30px;
}


.footer {
  display: flex;
  flex-wrap: wrap;


  align-items: center;
  justify-content: space-between;


  background: #2f303a;
  /* background-color: tomato;
  outline: 2px solid black; */ */

}

.footer .logo {
  color: var(--primary-white-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
.logo-accent {
  color: #2196f3;
}

.footer-address {
  color: var(--primary-white-color);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
}



.portfolio li {
  /* margin-right: 8px; */
  /* justify-content: center;
  text-align: center; */
}


.portfolio .button {
  color: var(--title-text-color);
  background: #f5f4fa;
  /* display: inline-block; */
  padding: 22px 6px;
  margin-right: 8px;
  /* width: 128px;
  height: 38px; */
  border-radius: 4px;
  margin-bottom: 8px;
  text-align: center;
  
}


/* .portfolio .button:not(:last-child) {
  margin-right: 8px;
} */

.portfolio {
  display: flex;
  /* justify-content: center; */
}

.portfolio .list {
 
  display: flex;
  flex-wrap: wrap;
  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: center; */
  /* margin-right: 30px;
    margin-bottom: 30px; */
  
}

.portfolio .item {
  width: 370 px;
  /* background-color: tomato; */
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio .item:nth-child(3n) {
  margin-right: 0px;

}


.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio .button-primary {
  display: inline-block;
  color: var(--title-text-color);
  padding: 22px 6px;
  /* width: 73px;
  height: 38px; */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
  min-width: 73px;
  text-align: center;
}

.portfolio .button-primary:hover,
.portfolio .button-primary:focus {
  color: var(--title-text-color);
  background: var(--accent-color);
}

.portfolio .button:hover,
.portfolio .button:focus {
  color: var(--title-text-color);
  background: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.portfolio-bigtext {
  color: var(--primary-white-color);
  background: var(--accent-color);
}

.portfolio-text {
  color: var(--primary-text-color);
}
